.form-label
{
    display:block;
    margin: 0 auto;
    color: black;
}

a
{
    color: black;
    text-decoration: none;
}

select
{
    display: block !important;
    margin: 0 auto !important;
    width: 15rem !important;
    text-align: center;
}

legend
{
    font-weight: bold;
}

.btn-form
{
    color: #fff;
    display: inline-block;
    width: 60% !important;
    background-color: #000 !important;
    border-color: #000 !important;
}

.btn-form:hover
{
    color: #fff;
}

.input-form
{
    margin: 0 auto;
    width: 15rem;
}

.card-form
{
    display:block;
    margin: 0 auto;
    height: 32rem;
    background: #f5f5f5;
    width: 20rem;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 30%) 0px 10px 14px, rgb(0 0 0 / 22%) 0px 10px 12px;
}

.card-form2
{
    display:block;
    margin: 0 auto;
    height: 27rem;
    background: #f5f5f5;
    width: 20rem;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 30%) 0px 10px 14px, rgb(0 0 0 / 22%) 0px 10px 12px;
}

.card-form3
{
    display:block;
    margin: 0 auto;
    margin-bottom: 8%;
    height: 38rem;
    background: #f5f5f5;
    width: 20rem;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 30%) 0px 10px 14px, rgb(0 0 0 / 22%) 0px 10px 12px;
}

@media (max-width: 700px) {
    form
    {
        width: auto;
        
    }

    #logoSignIn
    {
        display:none;
    }
}